.game__3 {
    width: 95%;
}

.game__3__head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__3__head p:first-child {
    align-self: flex-start;
    font-weight: bold;
    color: rgb(26, 26, 176);
    margin-bottom: 20px;
}

.game__3__head p:last-child {
    color: rgb(133, 133, 136);
    margin-bottom: 10px;
}

.game__3__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
} 
.game__3__body div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
    width: 100%;
}

.game__3__body div:last-child {
    justify-content: start;
    margin-left: 25%;
}

.game__3__body button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 1.5% 2%;
    cursor: pointer;
    background: #d7d7da;
    box-shadow: 2px 2px 5px rgba(10, 46, 82, 0.16), -8px -8px 40px rgba(255, 255, 255, 0.56), 8px 8px 15px rgba(0, 0, 0, 0.17);
    border: 0;
    border-radius: 5px;
} 

.game__3__body button:hover {
    background: #efeff3;
}

.game__3__result {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 30px 0;
    height: 25px;
}