* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: monospace;
    font-size: 16px;
    background-color: #ccc;
    background-image: url(../images/level-background.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 35%;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

 /* Header */

.header {
    background-image: linear-gradient(to right, rgb(228, 232, 125), rgb(123, 205, 9));
}

.header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
}


.nav > ul {
    display: flex;
    list-style: none;
}

.nav > ul a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 25px;
    cursor: pointer;
    color: rgb(3, 20, 80);
    border-bottom: 2px solid transparent;
}

.nav > ul a:hover {
    color: rgb(240, 83, 26);
}

.nav > ul a.active {
    border-bottom: 2px solid rgb(3, 20, 80);
}

/* Main */

.page {
    width: 100%;
    margin: 0 auto;
}

/*  Library */

.library {
    width: 85%;
    min-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(183, 179, 179);
    border-radius: 10px;
    padding: 50px ;
    margin: 45px auto;
}

.library h1 {
    color: rgb(73, 72, 72);
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 30px;
}

.library h1>span {
    color: rgb(21, 20, 20);
    font-weight: bold;
}

.library__form {
    display: flex;
    width: 70%;
    margin-bottom: 40px;
}

.library__form > input {
    width: 100%;
    font-size: 20px;
    background-color: rgb(190, 186, 186);
    border-radius: 5px;
    padding: 4px;
    border: 0;
    box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.18), inset 2px 2px 4px rgba(0, 0, 0, 0.24), inset -8px -8px 15px rgba(255, 255, 255, 0.02), inset 8px 8px 15px rgba(10, 46, 82, 0.21);
}

.library__form button {
    
    font-size: 22px;
    background-color: transparent;
    color: rgb(132, 130, 130);
    margin-left: 20px;
    padding: 5px 12px;
    border-radius: 50%;
    border: 0;
    box-shadow: 2px 2px 5px rgba(10, 46, 82, 0.16), -8px -8px 40px rgba(255, 255, 255, 0.56), 8px 8px 15px rgba(0, 0, 0, 0.17);
    cursor: pointer;
}

.library__form button:hover {
    background-color: #fff;
}

.library__form button:active {
    transform: scale(120%);
}

.library__list {
    width: 100%;
    border: 1px solid #ccc;
    background-color: rgb(190, 186, 186);
    box-shadow: 5px 5px 10px  rgb(184, 180, 180);
    border: 0;
    border-radius: 10px;
    padding: 10px 0 20px 0;
}

.library__row.head {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    font-weight: bold;
    padding: 20px;
}

.library__row.body {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
}

.library__col {
    font-size: 22px;
}

.library__item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 10px 40px;
}


.library__item:hover {
    background-color: #fff;
}

.library__item:hover button {
    display: block;
}

.library__item .library__col{
    width: 40%;
    font-size: 18px;
    text-align: left;
    word-wrap: break-word;
}

.library__item .library__col:first-child {
    padding-left: 10px;
    width: 40%;
}


.library__item .library__col:nth-child(3) {
    width: 10%;
    text-align: center;
}

.library__item button {
    background-image: url(../images/delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    display: none;
    position: absolute;
    right: 10px;
    padding: 10px;
    border: 0;
    cursor: pointer;
}

/* Learn */


.learn__progressbar {
    position: absolute;
    top: 135px;
    left: 0;
    width: 100vw;
    height: 15px;
    background-color: #ededed;
}

.learn__progressbar span {
    display: block;
    height: 100%;
    background-image: linear-gradient(to right, rgb(51, 102, 153), rgb(205, 77, 240));
    border-radius: 0 10px 10px 0;
    
}

.learn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 65px auto;
    width: 60%;
    min-width: 500px;
}

.learn__header_info {
    align-self: flex-end;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 18px;
}

.learn__header_info span {
    font-weight: bold;
}

.learn__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(183, 179, 179);
    border-radius: 10px;
    padding: 50px ;
}

.learn__translate {
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.learn__word {
    font-size: 40px;
    text-transform: capitalize;
    padding-bottom: 45px;
    color: rgb(49, 49, 217);
}

.learn__body button {
    background-image: url(../images/arrow_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    padding: 15px 40px;
    background-color: #e2dddd;
    box-shadow:  1px 3px 2px  rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

.learn__body button:last-child {
    background-image: url(../images/reload.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border-radius: 50%;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
}

/* Games */

.games {
    width: 80%;
    margin: 0 auto;
}
.games__list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.games__item {
    position: relative;
    width: 30%;
    height: 40%;
    min-width: 350px;
    min-height: 250px;
    background-color: #EAEDF4;
    box-shadow: 2px 2px 4px rgba(10, 46, 82, 0.12), -6px -6px 40px rgba(255, 255, 255, 0.63), 4px 4px 15px rgba(10, 46, 82, 0.11), inset 4px 4px 30px rgba(10, 46, 82, 0.11), inset -4px -4px 40px #FFFFFF;
    border-radius: 15px;    
    border: 0;
}

.games__item:first-child {
    background-image: url('../images/Rectangle.png'), url('../images/speak-and-check.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 25%, 95% 30%; 
    background-size: 80%, 33%;
}

.games__item:nth-child(2) {
    background-image: url('../images/Rectangle.png'), url('../images/remember-translation.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 25%, 95% 30%; 
    background-size: 80%, 27%;
}

.games__item:nth-child(3){
    background-image: url('../images/Rectangle.png'), url('../images/write-translation.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 25%, 90% 40%; 
    background-size: 80%, 33%;
    color: rgb(231, 38, 12);
}

.games__item a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.games__item:first-child a {
    color: rgb(19, 75, 180);
    padding: 50px 60px 30px 45px;
}

.games__item:nth-child(3) a {
    color: rgb(231, 38, 12);
    padding: 50px 60px 30px 45px;
}

.games__item:nth-child(2) a {
    color: rgb(44, 184, 137);
    padding: 50px 60px 30px 45px;
}

.games__item a h3 {
    font-size: 26px;
    font-weight: bold;
    width: 70%;
}

.games__item a p {
    font-size: 16px;
}

/* Game */

.game {
    margin: 45px auto;
    width: 70%;
    min-width: 600px;
}

.game__header>a {
    display: block;
    background-image: url(../images/arrow_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 10%;
    min-width: 70px;
    padding: 15px 20px;
    background-color: #e2dddd;
    box-shadow:  -1px -3px 2px  rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transform: rotate(180deg);
}

.game__header_info {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 15px;
    font-size: 18px;
}

.game__header_info span {
    font-weight: bold;
}

.game__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border: 1px solid rgb(183, 179, 179);
    border-radius: 10px;
    padding: 15px ;
}

.game__content h3 {
    font-size: 24px;
    color: rgb(123, 10, 180);
}


